/*the following code for the footer is referenced from: https://stackoverflow.com/questions/3443606/make-footer-stick-to-bottom-of-page-correctly */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100%; 
    
}



/*thefollowing code for the background image was referenced from: https://www.w3schools.com/cssref/pr_background-image.asp*/
/*the image was referenced from: https://www.google.ie/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwiRvIGOyrnXAhVbF8AKHahyDrwQjRwIBw&url=https%3A%2F%2Fwww.freecreatives.com%2Fbackgrounds%2Fbackground-images-for-website-design.html&psig=AOvVaw1W7j3OQExCK9uTBpo5Yl_s&ust=1510594737752539  */
/*
#body {
    background-image: url("images/Huge-Backgrounds-8-1024x683.jpg");
    
}
*/
/*the following code for the navigation bar is referenced from: https://www.w3schools.com/howto/howto_js_topnav.asp*/
/*
.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: relative;
    
}
*/
/*
.li {
    float: left;
}

.li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li a:hover {
    background-color: darkgray;
}
the following code for the pop-up is referenced from: https://www.w3schools.com/howto/howto_js_popup.asp
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
*/

/*
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}


.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}


.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}*/

/*
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}*/

/*@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
this code for the flex-container was referenced from: https://stackoverflow.com/questions/1709442/make-divs-height-expand-with-its-content
#flex-container2 {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
 
}*/
/*

the following code for the tooltip is referenced from: https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
*/

/*
.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0;

    
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

*/


/*the following code for the footer is referenced from: https://stackoverflow.com/questions/3443606/make-footer-stick-to-bottom-of-page-correctly */
.footer {
    background-color: black;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 25px;
    width: 100%;
    overflow:hidden;
}


/*the following code for the footer is referenced from: https://stackoverflow.com/questions/18382700/create-a-footer-block-in-css */
.copyright {
    text-align: center;
    color: white;
}

