<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>
		dasfsdfsdfgsdfTeamForSoft
	</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
 
</head>
<body id="body">
    	 
    
     
	

    

    <br>
    <br>
    <br>

	<div id="map" style="width:100%;height:400px"></div>
	<script>
		function myMap() {
var bikeMap=JSON.parse('{{ name | tojson | safe}}');
//var bikeMap = {
//ClarendonRow:{lat:53.340927,lng:-6.262501},
//};
		var mapOptions = {
				center: new google.maps.LatLng(53.350140, -6.266155),
				zoom: 15,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			}
		var map = new google.maps.Map(document.getElementById("map"), mapOptions);
        
        for (var station in bikeMap){
            var cityCircle = new google.maps.Circle({
                strokeColor: '#0000FF',
                strokeOpacity: 0.8,
                strokeWeight: 0.5,
                fillColor: '#0000FF',
                fillOpacity: 0.35,
                map: map,
                center: bikeMap[station],
                radius: 50
            });
            alert(bikeMap[station])
            var contentString = '<div>'+ '<p> hello </p>'+ '</div>';
        }
        }
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?callback=myMap&key=AIzaSyDnhjzNlsrZqK3A_HtAfH0ya2hmN0qQAzs"></script>
    <br>
    <br>
    <br>

    
    <br>
    <br>
    <br>

    <div id="/test">
        <div class="footer">
			
            <footer class="copyright"> '{{ name | tojson | safe}}'</footer>
        </div>
     </div>
    </body>
</html>