<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>
		dasfsdfsdfgsdfTeamForSoft
	</title>
 <!--   <link rel="stylesheet" type="text/css" href="style.css"/> -->
 
</head>
<body id="body">
    <br> <br><br>
	<div id="map" style="width:100%;height:400px"></div>
	<script>
		

		function myMap() {
 
            // https://www.w3schools.com/js/js_json_http.asp
             function checkNumbers() {
	var xmlhttp = new XMLHttpRequest();
	var url = "http://localhost:5000/orlaJSON";
	xmlhttp.onreadystatechange = function() {
		if (this.readyState == 4 && this.status == 200) {
			var parsedObj = JSON.parse(this.responseText);
             myFunction(parsedObj);
		}
	};
	xmlhttp.open("GET", url, true);
	xmlhttp.send();
             }
            
        function myFunction(arr) {
      
			var mapOptions = {
				center: new google.maps.LatLng(53.350140, -6.266155),
				zoom: 15,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			}
		var map = new google.maps.Map(document.getElementById("map"), mapOptions);
        var i;
         for(i = 0; i < arr.length; i++){
            var cityCircle = new google.maps.Circle({
                strokeColor: '#0000FF',
                strokeOpacity: 0.8,
                strokeWeight: 0.5,
                fillColor: '#0000FF',
                fillOpacity: 0.35,
                map: map,
                center:{lat:arr[i].lat,lng:arr[i].lng},
                position: {lat:arr[i].lat,lng:arr[i].lng},
                radius: 50
            });
            var contentString = '<div>'+ '<div> '+ arr[i].name +' </div>'+ '<div>'+ '</div>' +'</div>';
            
            var infowindow = new google.maps.InfoWindow();
            
            
           google.maps.event.addListener(cityCircle,'click',(function( cityCircle,contentString,infowindow ) {
               return function(){
          infowindow.setContent(contentString);
          infowindow.open(map,cityCircle);
               };
        })(cityCircle,contentString,infowindow)); 
        }
        }        
                checkNumbers();
		
		
	}
		
		
		
	//-------------------------------------------this morning ---------	
		
		/*
		
		
		
		
		
		
		
		function myMap() {
			
		 function myFunction(arr) {	

		var mapOptions = {
				center: new google.maps.LatLng(53.350140, -6.266155),
				zoom: 14,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			}
		var map = new google.maps.Map(document.getElementById("map"), mapOptions);
        var i;
			for(i = 0; i < arr.length; i++){
            var cityCircle = new google.maps.Circle({
                strokeColor: '#0000FF',
                strokeOpacity: 0.8,
                strokeWeight: 0.5,
                fillColor: '#0000FF',
                fillOpacity: 0.35,
                map: map,
				center: {lat:arr[i].lat,lng:arr[i].lng},
                radius: 50
            });
            var contentString = '<div>'+ '<p> '+ arr[i].name +'</p>'+ '</div>';
			
			var infowindow = new google.maps.InfoWindow();
            
           google.maps.event.addListener(cityCircle,'click',(function( cityCircle,contentString,infowindow ) {
               return function(){
          		infowindow.setContent(contentString);
          		infowindow.open(map,cityCircle);
               };
        })(cityCircle,contentString,infowindow)); 
			
        }
        }
			var bikeMap=JSON.parse('{{ name | tojson | safe}}');
			 myFunction(bikeMap);
			
			
		//checkNumbers();	
		}
		/* ---------- old one --------------------
		

		function myMap() {
 
            // https://www.w3schools.com/js/js_json_http.asp
             function checkNumbers() {
	var xmlhttp = new XMLHttpRequest();
	var url = "static_data.json";
	xmlhttp.onreadystatechange = function() {
		if (this.readyState == 4 && this.status == 200) {
			var parsedObj = JSON.parse(this.responseText);
             myFunction(parsedObj);
		}
	};
	xmlhttp.open("GET", url, true);
	xmlhttp.send();
             }
            
        function myFunction(arr) {
      
			var mapOptions = {
				center: new google.maps.LatLng(53.350140, -6.266155),
				zoom: 15,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			}
		var map = new google.maps.Map(document.getElementById("map"), mapOptions);
        var i;
         for(i = 0; i < arr.length; i++){
            var cityCircle = new google.maps.Circle({
                strokeColor: '#0000FF',
                strokeOpacity: 0.8,
                strokeWeight: 0.5,
                fillColor: '#0000FF',
                fillOpacity: 0.35,
                map: map,
                center:{lat:arr[i].lat,lng:arr[i].lng},
                position: {lat:arr[i].lat,lng:arr[i].lng},
                radius: 50
            });
            var contentString = '<div>'+ '<div> '+ arr[i].name +' </div>'+ '<div>'+ '</div>' +'</div>';
            
            var infowindow = new google.maps.InfoWindow();
            
            
           google.maps.event.addListener(cityCircle,'click',(function( cityCircle,contentString,infowindow ) {
               return function(){
          infowindow.setContent(contentString);
          infowindow.open(map,cityCircle);
               };
        })(cityCircle,contentString,infowindow)); 
        }
        }        
                checkNumbers();
		*/
		
		
		
		
		
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?callback=myMap&key=AIzaSyDnhjzNlsrZqK3A_HtAfH0ya2hmN0qQAzs"></script>
	

	
	
    <br>
    <br> <br> <br>   <br>  <br>

    <div id="/test">
        <div class="footer">
			
       <!--     <footer class="copyright" > '{{ name | tojson | safe}}'</footer> -->
        </div>
     </div>
    </body>
</html>
